@import 'variables.scss';

body {
  font-family: $primary-ff !important;

  a {
    display: block;
  }

  .sponsor-insight { 
    @include tablet {
      width: 45%;
      margin: 0 auto;
    }
  } // end of sponsor-insight

  .in-the-magazine {
    @include tablet {
      .title {
        padding-bottom: 10px;
        border-bottom: 1px solid #e6e6e6;
      }
    }
  } // in-the-magazine

  .featured-slideshows {
    article {
      @include tablet {
        margin-top: 0;
      }
    }
  }
} // end of body


