@import 'variables.scss';

body {
  font-family: $primary-ff !important;

  a {
    display: block;
  }

  .container-fluid {
    position: relative;

    @include laptop {
      width: 98%;
    }
  }
} // end of body


