footer {
  border-top: 2px solid #f4f5f6;

  @include laptop {
    padding: 0 30px;
  }

  .social-networks {
    position: relative;
    padding: 30px 15px 0 15px;

    @include tablet {
      img {
        padding-bottom: 5px;
      }

      p {
        position: absolute;
        display: inline-block;
        bottom: 2px;
        margin-left: 15px;
      }

      .social-icons {
        position: absolute;
        margin: 0;
        right: 0;
        bottom: 3px;
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        font-size: 24px;
        padding-right: 10px;
      }
    }
  } // end of social-networks

  .links {
    padding: 0 15px 30px 15px;
    line-height: 28px;

    @include laptop {
      display: flex;
      justify-content: space-between;
      border-top: 1px solid #d9d9d9;
    }

    .first-list {
      border-top: 1px solid #d9d9d9;

      @include laptop {
        border: none;
        margin-right: 5rem;
      }
    }

    ul {
      list-style: none;
      padding: 6px 0 0 0;

      li {
        padding-right: 10px;
        margin-right: 10px;

          @include tablet {
            border-right: 1px solid #d9d9d9;
        }
      }
    }
  }
} // end of footer
