.more-stories {
  .story {
    padding: 14px 0;
    border-top: 1px solid #ddd;

    @include large-laptop {
      margin-bottom: 30px;
    }

    .story-img {
      float: left;
      width: 182px;
      margin-right: 20px;

      img {
        max-width: 100%;
        height: auto;
      }
    } // end of story-img
  } // end of story
} // end of more-stories

section#more-stories1 {
  @include tablet {
    position: absolute;
    top: 8%;
    right: 0;
  }

  @include laptop {
    top: 13%;
    left: 25%;
  }

  @include large-laptop {
    top: 14%;
  }

  @include desktop {
    top: 16%;
  }
}
