.sign-up {
  width: 80%;
  margin: 40px auto 40px auto;
  background-color: #f4f5f6;

  @include tablet {
    width: 40% !important;
  }

  @include laptop {
    position: absolute !important;
    max-width: 300px !important;
    right: 1rem;
    top: 90rem;
    margin-top: 20px;
  }

  @include large-laptop {
    top: 93rem;
    right: 5rem;
  }

  @include desktop {
    top: 97rem;
    right: 10rem;
  }

  .newsletter {
    position: relative;
    display: flex;
    align-items: flex-start;

    img {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    span {
      line-height: 20px;
      padding-left: 35px;
    }
  } // end of newsletter

  span {
    font-size: 15px;
    font-weight: 900;
    padding-top: 5px;
  }
} // end of sign-up
