.fw-900 {
  font-weight: 900 !important;
}

.fw-300 {
  font-weight: 300;
}

.p-20 {
  padding: 20px;
}

.pl-10 {
  padding-left: 10px;
}

.pb-10 {
  padding-bottom: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mtb-10 {
  margin: 10px 0;
}

.mr-10 {
  margin-right: 10px;
}

.mr-15 {
  margin-right: 15px;
}

.fs-10 {
  font-size: 10px;
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-15 {
  font-size: 15px;
}

.fs-16 {
  font-size: 16px;
}

.fs-17 {
  font-size: 17px;
}

.fs-18 {
  font-size: 18px !important;
}

.fs-19 {
  font-size: 19px !important;
}

.upcase {
  text-transform: uppercase;
}

.col-inh {
  color: inherit;
}

.white {
  color: #fff;
}

.red {
  color: #f72210 !important;
}

.black {
  color: #000;
}

.blue {
  color: #3581f4;
}

.grey {
  color: #666;
}

.light-dark {
  color: #555;
}

.bg-col-red {
  background-color: #f72210;
}

.bg-col-light-grey {
  background-color: #f4f5f6;
}

.title-style {
  font-size: 16px;
  color: rgba(3, 3, 3, 0.4);
  text-transform: uppercase;
  font-weight: 900;
}

.b-style {
  border: 1px solid #e6e6e6;
}

.bstyle-bottom {
  border-bottom: 1px solid #e6e6e6;
}

.bradius-0 {
  border-radius: 0 !important;
}

